@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 303px;
    height: 600px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}
.card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 100%;
    background-color: var(--button-green);
    border-radius: 10px 0 0 10px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* Proporção 16:9 */
  height: 0;
  overflow: hidden;
  width: 100%;


}

.card:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

youtube-player, youtube-player-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card a{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-container{
    flex-grow: 1;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-container h3{
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 10px 0;
    font-size: 1.25em;
    color: var(--blue-darker);
}

.description{
    margin: 0 0 15px 0;
    font-size: 14px;
    color: black;
    line-height: 1.5;
}

.price {
    margin: 0 0 15px 0;
    font-size: 1em;
    color: black;
    line-height: 1.5;
}

.card-container .price {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: auto;
    color: var(--button-green);
}

.best-seller-tag {
    background-color: #e74c3c; 
    color: white;
    padding: 4px 8px;
    font-size: 0.75rem; 
    font-weight: bold;
    border-radius: 4px;
    margin-left: 10px; 
    text-transform: uppercase;
}

.promo-button{
    background-color: var(--button-green);
    color: white;
    width: 70%;
    margin: auto;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    padding: 4px 0 4px 0;
}

.promo-button i {
    padding: 2px;
}
