<div class="card">
    <div class="video-wrapper">
        <youtube-player
            [videoId]="videoId()"
        >
    </youtube-player>
    </div>
    <a href={{link()}} style="text-decoration: none;">
        <div class="card-container">
            <h3>{{tittle()}}</h3>
            <p class="description">{{description()}}</p>
            <p *ngIf="price() > 0" class="price">{{price() | currency:'BRL'}}
                <span *ngIf="isBestSeller()" class="best-seller-tag">Mais Vendido!</span>
            </p>
        </div>

        <button class="promo-button"><i class="bi bi-whatsapp"></i>Adquirir promoção</button>
    </a>
</div>

