.rating-card-container{
    display: flex;
    gap: 140px;
}
section{
    padding-top: 38px;
    background-color: var(--blue-background);
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 40px;
    font-weight: 500;
    color: white;
}
p{
    font-size: 20px;
    color: var(--blue-border);
}

@media(max-width: 768px ){
    h2, p{
        padding: 12px ;
        text-align: center;
    }

    .rating-card-container{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}