<div class="rating-card">
    <div class="icons">
        <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
        </div>
        <i class="bi bi-quote"></i>
    </div>

    <p class="rating">{{rating()}}</p>
    <hr>
    <div class="infos">
        <span class="name">{{name()}}</span>
        <span class="loc">{{loc()}}</span>
    </div>
</div>
