<div id="header-top">
    <header class="w-100">
        <img src="assets/images/logo.png" alt="">
        
        <nav>
            <ul>
                <li><i class="bi bi-geo-alt"></i>
                <span> Atendemos em toda São Paulo</span>
                </li>
                <li><i class="bi bi-clock"></i>
                <span> Segunda a Sábado 8h às 18h</span>
                </li>
                <li><i class="bi bi-telephone"></i>
                <span>(11) 99999-9999</span>
                </li>
            </ul>
            
        </nav>

    </header>
</div>
