<div id="header-top">
    <header class="w-100">
        <img src="assets/images/logo.png" alt="">
        
        <nav>
            <ul>
                <li><i class="bi bi-geo-alt"></i>
                <span> Atendemos em todo Rio de Janeiro</span>
                </li>
                <li><i class="bi bi-clock"></i>
                <span> Segunda a Sábado 8h às 19h</span>
                </li>
                <li id="phone"><i class="bi bi-telephone"></i>
                <span>(21) 99190-5944</span>
                </li>
            </ul>
            
        </nav>

    </header>
</div>
