#header-top{
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

#header-top header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 87px;
}

#header-top header img{
    max-width: 61px;
    max-height: 80px;
    margin-left: 26px;
}
ul{
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}
li{
    display: flex;
    align-items: center;
    padding: 0 20px;
    list-style: none;
}
li i {
    padding-right: 6px;
    color: var(--icon-green);
}
li span{
    font-size: 12px;
    color: var(--blue-darker);
}

@media (max-width: 768px){
        #header-top ul li {
        display: none;
    }

    /* Centraliza o ícone e o número do telefone */
    #header-top header {
        justify-content: center; /* Centraliza o conteúdo do header */
    }

    #header-top img{
        margin-bottom: 14px;
    }
    
    /* Ajusta o padding do item do telefone para ocupar o espaço */
    #phone {
        padding: 0;
    }
}