<div id="header-top">
    <header class="w-100">
        <img src="assets/images/logo.png" alt="">
        
        <nav>
            <ul>
                <li><i class="bi bi-geo-alt"></i>
                <span> Atendemos em todo Rio de Janeiro</span>
                </li>
                <li><i class="bi bi-clock"></i>
                <span> Segunda a Sábado 8h às 19h</span>
                </li>
                <li id="phone"><i class="bi bi-telephone"></i>
                <a href="https://wa.me/5521991905944?text=Ol%C3%A1%2C%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20personalizado%20para%20o%20meu%20estofado!"><span>(21) 99190-5944</span></a>
                </li>
            </ul>
            
        </nav>

    </header>
</div>
