:root{
    --blue-darker: #172554;
    --icon-green: #4AC884;
    --text-blue: #2563EB;
    --button-green: #16a34a;
    --background: #EAEBEF;
    --button-green-hover: #28b463;
    --blue-card: #354E96;
    --blue-border: #99B6E3;
    --blue-background: #1E3A8A;
}