<footer>
    <div>
        <img src="assets/images/logo.png" alt="Logo Vap Clean" class="footer-logo">
        <p>Especialistas em limpeza e higienização de estofados, trazendo mais saúde e conforto para o seu lar.</p>
    </div>

    <div class="contact">
        <a href="https://wa.me/5521991905944?text=Ol%C3%A1%2C%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20personalizado%20para%20o%20meu%20estofado!"><p><i class="bi bi-whatsapp"></i>(21) 99190-5944 </p></a>
        <a href="https://www.instagram.com/vapcleanrj?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><p><i class="bi bi-instagram"></i>vapcleanrj</p></a>
    </div>
    <span><i class="bi bi-geo-alt"></i>Todo Rio de Janeiro</span>
</footer>
