/* You can add global styles to this file, and also import other style files */

body{
  background-color: var(--background);
}

youtube-player,
.youtube-player-placeholder, iframe{
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
}

.video-rating .youtube-player-placeholder,
.video-rating iframe {
  border-radius: 15px;
  position: static !important;
  height: auto !important;
  aspect-ratio: 16 / 9;
}
